/* vBulletin 3 CSS For Style 'Rlocman.ru Style' (styleid: 2) */
body
{
	background: #FFFFFF;
	color: #000000;
	font-family: arial, helvetica, sans-serif;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}
a:visited, body_avisited
{
	color: #333399;
}
a:hover, a:active, body_ahover
{
	color: #CC0000;
}
.page
{
	background: #FFFFFF;
	color: #000000;
}
td, th, p, li
{
	font-family: arial, helvetica, sans-serif;
}
.tborder
{
	background: #FFFFCC;
	color: #000000;
	border: 1px solid #FFEB99;
}
.tcat
{
	background: #F0F0C2;
	color: #336633;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold;
}
.tcat a:link, .tcat_alink
{
	color: #336633;
	text-decoration: underline;
}
.tcat a:visited, .tcat_avisited
{
	color: #336633;
	text-decoration: underline;
}
.tcat a:hover, .tcat a:active, .tcat_ahover
{
	color: #CC0000;
	text-decoration: underline;
}
.thead
{
	background: #FFEB99;
	color: #000000;
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.thead a:link, .thead_alink
{
	color: #000000;
	text-decoration: underline;
}
.thead a:visited, .thead_avisited
{
	color: #000000;
	text-decoration: underline;
}
.thead a:hover, .thead a:active, .thead_ahover
{
	color: #FF0000;
	text-decoration: underline;
}
.tfoot
{
	background: #F0F0C2;
	color: #336633;
}
.tfoot a:link, .tfoot_alink
{
	color: #336633;
	text-decoration: underline;
}
.tfoot a:visited, .tfoot_avisited
{
	color: #336633;
	text-decoration: underline;
}
.tfoot a:hover, .tfoot a:active, .tfoot_ahover
{
	color: #CC0000;
	text-decoration: underline;
}
.alt1, .alt1Active
{
	background: #FFFFCC;
	color: #000000;
}
.alt2, .alt2Active
{
	background: #FFEB99;
	color: #000000;
}
td.inlinemod
{
	background: #FFFFCC;
	color: #000000;
}
.wysiwyg
{
	background: #FFFFFF;
	color: #000000;
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
textarea, .bginput
{
	font: 10pt verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.button
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
select
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
option, optgroup
{
	font-size: 11px;
	font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.smallfont
{
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.time
{
	color: #666686;
}
.navbar
{
	color: #CC0000;
}
.highlight
{
	color: #FF0000;
	font-weight: bold;
}
.fjsel
{
	background: #3E5C92;
	color: #E0E0F6;
}
.fjdpth0
{
	background: #F7F7F7;
	color: #000000;
}
.panel
{
	background: #FFFFCC;
	color: #000000;
	padding: 10px;
	border: 2px outset;
}
.panelsurround
{
	background: #FFEB99;
	color: #000000;
}
legend
{
	color: #22229C;
	font: 11px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
}
.vbmenu_control
{
	background: #F0F0C2;
	color: #336633;
	font: bold 12px tahoma, verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	padding: 3px 6px 5px 6px;
	white-space: nowrap;
}
.vbmenu_control a:link, .vbmenu_control_alink
{
	color: #336633;
	text-decoration: underline;
}
.vbmenu_control a:visited, .vbmenu_control_avisited
{
	color: #336633;
	text-decoration: underline;
}
.vbmenu_control a:hover, .vbmenu_control a:active, .vbmenu_control_ahover
{
	color: #CC0000;
	text-decoration: underline;
}
.vbmenu_popup
{
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #0B198C;
}
.vbmenu_option
{
	background: #BBC7CE;
	color: #000000;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_option a:link, .vbmenu_option_alink
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:visited, .vbmenu_option_avisited
{
	color: #22229C;
	text-decoration: none;
}
.vbmenu_option a:hover, .vbmenu_option a:active, .vbmenu_option_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite
{
	background: #8A949E;
	color: #FFFFFF;
	font: 11px verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
	white-space: nowrap;
	cursor: pointer;
}
.vbmenu_hilite a:link, .vbmenu_hilite_alink
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:visited, .vbmenu_hilite_avisited
{
	color: #FFFFFF;
	text-decoration: none;
}
.vbmenu_hilite a:hover, .vbmenu_hilite a:active, .vbmenu_hilite_ahover
{
	color: #FFFFFF;
	text-decoration: none;
}
/* ***** styling for 'big' usernames on postbit etc. ***** */
.bigusername { font-size: 14pt; }

/* ***** small padding on 'thead' elements ***** */
td.thead, th.thead, div.thead { padding: 4px; }

/* ***** basic styles for multi-page nav elements */
.pagenav a { text-decoration: none; }
.pagenav td { padding: 2px 4px 2px 4px; }

/* ***** de-emphasized text */
.shade, a.shade:link, a.shade:visited { color: #777777; text-decoration: none; }
a.shade:active, a.shade:hover { color: #FF4400; text-decoration: underline; }
.tcat .shade, .thead .shade, .tfoot .shade { color: #DDDDDD; }

/* ***** define margin and font-size for elements inside panels ***** */
.fieldset { margin-bottom: 6px; }
.fieldset, .fieldset td, .fieldset p, .fieldset li { font-size: 11px; }

/* ***** don't change the following ***** */
form { margin: 0px; }
label { cursor: default; }
.normal { font-weight: normal; }
.inlineimg { vertical-align: middle; }
.underline { text-decoration: underline; }